.buttonsContainer {
    display: flex;
    column-gap: 25px;
    margin-bottom: 50px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.imageContainer {
}

.image {
}

.textContainer{
    width: 400px;
}

.code {
    font-size: 28px;
    font-weight: 600;
}

.text {
}
.info {
}