.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.clock {
    font-size: 1.4rem;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.watch {
}

.watch strong {
}

.more {
    color: lightgrey;
    font-size: 1rem;
}