.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.friendImageAndText img {
    width: 64px;
    height: 64px;
}

.friendText {
    background: var(--color-message-friend-bg);
    border-radius: .4rem;
    padding: 1rem .6rem;
    line-height: 1.4;
    margin-left: 1rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    max-width: 60%;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -12px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 22px solid var(--color-message-friend-bg);
    z-index: -1;
}



.friendName {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-black);
    text-align: start;
    margin-bottom: 0.2rem;
}

.friendMessageText {
    color: var(--color-text-message-friend);
    font-size: 1rem;
    font-family: 'Poppins';
    white-space: pre-line;
    text-align: justify;
}

.friendTime {
    font-size: .7rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: .4rem;
}
