.sendForm {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.textarea {
    padding: .8rem 1.4rem;
    background: var(--color-message-friend-bg);
    width: 85%;
    border-radius: 1.4rem;
    resize: none;
}

.button {
    padding: 0px 2.4rem;
    border-radius: 1.4rem;
    color: var(--color-white);
    background: var(--color-message-bg);
    font-weight: 600;
    font-family: 'Poppins';
    letter-spacing: .1rem;
}

.button:hover {
    cursor: pointer;
    background: #0083ff;
    color: var(--color-message-friend-bg);
}

.button:active {

}
